<div class="container container-table">
    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
        AUDIOS
    </h2>

    <div class="table-wrapper">


        <div class="container scroll">
            <table class="table isSearch" cellspacing="0">
                <thead>
                    <tr class="table-heads ">
                        <th class="head-item mbr-fonts-style display-7">
                            SONG</th>
                        <th class="head-item mbr-fonts-style display-7">
                            PLAY</th>
                        <th class="head-item mbr-fonts-style display-7">
                            SONG</th>
                        <th class="head-item mbr-fonts-style display-7">
                            PLAY</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="body-item mbr-fonts-style display-7">Simon says (Pharoah Monch)</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/pharoah monch - simon says.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td class="body-item mbr-fonts-style display-7">2016-10-17</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/HIPHOP~1.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                    <tr>
                        <td class="body-item mbr-fonts-style display-7">Caren Rials</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/HIPHOP~1.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>

                        </td>
                        <td class="body-item mbr-fonts-style display-7">2013-04-12</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/SKRATCH1.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                    <tr>
                        <td class="body-item mbr-fonts-style display-7">Leon Rogol</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/SKRATCH2.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td class="body-item mbr-fonts-style display-7">2016-05-22</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/SKRATCH2.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                    <tr>
                        <td class="body-item mbr-fonts-style display-7">Shala Barrera</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/SKRATCH2.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td class="body-item mbr-fonts-style display-7">2016-05-15</td>
                        <td class="body-item mbr-fonts-style display-7">
                            <audio controls>
                                <source src="assets/sounds/SKRATCH2.MP3" type="audio/mpeg"> Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>