<h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
        LOGIN
    </h2>
    
    <div class="table-wrapper">
      <div class="container">
        <form name="form1">
        <div>
          <div class="col-md-6">
              <div class="dataTables_filter">
                <label class="searchInfo">User:</label>
                <input id='user' class="form-control input-sm" value="{{user}}">
              </div>
          </div>
          <div class="col-md-6">
            <div class="dataTables_filter">
              <label class="searchInfo">Password:</label>
              <input id='pass' class="form-control input-sm" value="{{pass}}">
            </div>
        </div>
        <div class="col-md-6">
        <div class="mbr-section-btn">
          <button class="btn btn-md btn-secondary display-4" routerLink="/categories">LOGIN</button>
      </div>
      </div>
      </div>

      <div class="container">
        <div class="row info">
          <div class="col-md-6">
            <div class="dataTables_info">
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </form>
    </div>
  </div>